<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
 
	<display-name>BrevettiWEB</display-name>
	<context-param>
	  	<param-name>mode</param-name>
  		<param-value></param-value>
	</context-param>
	<!-- Indica a resteasy il path da intercettare (root) -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest</param-value>
	</context-param>
	<!-- Indica a resteasy i providers da prendere in considerazione -->
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>
			it.cnr.brevetti.rest.RestSecurity
		</param-value>
	</context-param>
	<!-- Indica a resteasy i servizi da attivare -->
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>
			it.cnr.brevetti.rest.PingRestService,
			it.cnr.brevetti.rest.TrovatoRestService
		</param-value>
	</context-param>	
   <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/brevetti</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/brevetti/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>it.cnr.brevetti.util.ImageCaptchaServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>PDFdownload</servlet-name>
    	<servlet-class>it.cnr.brevetti.trovati.servlets.InfoCatalogoPDF</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>DocumentDownload</display-name>
    	<servlet-name>DocumentDownload</servlet-name>
    	<servlet-class>it.cnr.brevetti.trovati.servlets.DocumentDownload</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PropostaDownload</display-name>
    	<servlet-name>PropostaDownload</servlet-name>
    	<servlet-class>it.cnr.brevetti.proposte.servlets.DocumentDownload</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>StartupNotifier</servlet-name>
    	<servlet-class>it.cnr.brevetti.util.StartupNotifier</servlet-class>
    	<load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
    	<servlet-name>Resteasy</servlet-name>
    	<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PDFdownload</servlet-name>
    	<url-pattern>/download/PDF/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>DocumentDownload</servlet-name>
    	<url-pattern>/download/all/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PropostaDownload</servlet-name>
    	<url-pattern>/download/id/*</url-pattern>
    </servlet-mapping>
	<listener>
		<listener-class>it.cnr.brevetti.listeners.ContextListener</listener-class>
	</listener>    
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<jsp-config>
	
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>

	</jsp-config>
</web-app>
